.ankshop-about {
  height: 100vh;
  min-height: 600px;

  position: relative;
}
.ankshop-about__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right:0;
  top:0;
  bottom:0;
  width: 100%;

  @media ($m-m) {
    width: 50%;
  }
}
.about-content__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.222em;
  margin-bottom: 72px;
}
.about-content__text {
  font-size: 20px;
  line-height: 1.600em;
}